ResourceRobot.Test/Connected Services/SR_ResourceRobotWhiteListService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ResourceRobot.Channels" />
  <xs:element name="GetWhiteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ResourceRobot.Channels" minOccurs="0" name="req" nillable="true" type="q1:WhiteListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ResourceRobot.Channels" minOccurs="0" name="GetWhiteListResult" nillable="true" type="q2:RobotReponseOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistWhiteListClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ResourceRobot.Channels" minOccurs="0" name="req" nillable="true" type="q3:RegistWhiteListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistWhiteListClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ResourceRobot.Channels" minOccurs="0" name="RegistWhiteListClientResult" nillable="true" type="q4:RobotReponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ResourceRobot.Channels" minOccurs="0" name="req" nillable="true" type="q5:ReportExceptionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ResourceRobot.Channels" minOccurs="0" name="ReportExceptionResult" nillable="true" type="q6:RobotReponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>